<html lang="en">

<body>
<h1>Welcome {{firstName}} {{lastName}},</h1>
<p>
    Thank you for registering. To confirm your email, please use the following one-time password:
</p>
<p>
    <b>{{oneTimePassword}}</b>
</p>
<p>
    If you did not register, please ignore this email.
</p>
<p>
    Best regards,<br>
    Your GUC Techie Team
</p>
</body>
</html>